<header>
    <h1>logo</h1>
    <nav>
        <a href="/">Home</a>
        <span>/</span>
        <a href="/login">Login</a>
        <span>/</span>
        <a href="/signup">SugnUp</a>
        <span>/</span>
        <a href="/cart">Cart</a>
    </nav>
</header>