<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="./signup.css">
</head>
<body>
    <div class="blocks">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>

    <form action="/signup" class="signin scale-up-hor-center" method="post">
        <h1>SIGN UP</h1>
        <div class="name">
            <input type="text" name="fname" placeholder="First_Name">
            <input type="text" name="lname" placeholder="Last_Name">
        </div>
        <input type="email" name="email" placeholder="Email">
        <div class="age">
            <input type="number" name="day" placeholder="Day">
            <input type="number" name="month" placeholder="Month">
            <input type="number" name="year" placeholder="Year">
        </div>
        <input type="password" name="password" placeholder="password">
        <input type="password" name="rpassword" placeholder="Confirm Password">
        <button>SigIn</button>
        <div class="link">
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
    </form>
</body>
</html>