*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart{
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &>.product{
        width: 80%;
        height: 250px;
        border-bottom: 2px solid black;
        margin-block: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        &>img{
            height: 100%;
        }
        &>.text{
            width: 40%;
            &>h2,&>p{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            &>h4{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: green;
                border-top: 2px solid black;
            }
        }
        &>.close{
            position: absolute;
            top: 10px;
            right: 10px;
            transition: 1s;
            cursor: pointer;
        }
        &>.close:hover{
            color: red;
            transform: scale(1.1);
        }
    }
}