*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products{
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    gap: 50px;
    padding-block: 50px;
    &>.product{
        width: 400px;
        height: 500px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50px;
        box-shadow: 6px 6px 30px 10px rgb(0, 0, 0);
        transition: 1s;
        justify-content: space-around;
        &>p{
            font-size: 15px;
            width: 100%;
            text-align: center; 
            max-height: 150px;
            overflow: auto;    
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
            padding-block: 20px;   
            border-bottom: 1px solid black;
        }
        &>h3{
            width: 100%;
            text-align: start;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        &>img{
            max-width: 100%;
            height: 40%;
        }
        &>button{
            width: 200px;
            height: 40px;
            background-color: black;
            color: white;
            border: 0;
            transition: 1s;
        }
        &>button:hover{
            background-color: rgb(87, 255, 98);
            color: black;
            box-shadow: 6px 6px 30px 10px rgb(0, 0, 0);
        }
    }
    &>.product:hover{
        transform: scale(1.1);
        box-shadow: 6px 6px 30px 10px rgb(87, 255, 98);
    }
}